<h1>Welcome to the longest word game</h1>
<h2>Total game played : <%= current_user.total_games %></h2>
<ul>
prout
  <% if @party.nil? %>
  <% else %>
    <%= @party.ten_letters_list %>
  <% end %>
prout
</ul>
<%= simple_form_for [@party] do |f| %>
<p><%= f.input :word, label: "your answer"%></p>
<p><%= f.submit "play", class: "button-17" %></p>
<% end %>
<%= link_to "Start a new game", games_path, data: { turbo_method: "post"}, class: "btn btn-primary" %>
